extends layout.jade

block title
	title Tebakata - Scoreboard

block navbar
	+navbar('scoreboard')

block content

	div.container

		h1
			small
				a(href="/")
					span.glyphicon.glyphicon-chevron-left
			| &nbsp;Scoreboard
		br

		table.table.table-responsive.table-hover
			thead
				tr 
					th Username
					th Name
					th Email
					th Score

			tbody
				each user in users
					tr
						td= user.username
						td= user.name
						td= user.email
						td= user.score

		br